.divisors-header {
    position: relative;
    margin: auto;
    width: 50%;
    display: grid; 
    justify-content: center;
}

.divisors-title {
    text-align: center;
}

.input-number-search {
    width: 340px;
    text-align: center;
}